{% extends 'base.html' %}
{% block title %}Welcome to Simple WSGI{% endblock %}

{% block content %}
    {% if context.covid %}
        <div class="alert alert-danger" role="alert">
            {{ context.covid }}
        </div>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>About</th>
        </tr>
        </thead>
        <tbody>

        {% for course in context.courses %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="editcourse?course={{ course.name }}">{{ course.name }}</a></td>
                <td>{{ course.type }}</td>
                <td>{{ course.teacher_name }}</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>

    {% if context.info %}
        <div class="card">
            <div class="card-body">
                {{ context.info }}
            </div>
        </div>
    {% endif %}
{% endblock %}
